.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 70px 10%;
}

.about-sections {
    display: flex;
    gap: 60px;
}

.about-left img {
    width: 325px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgb(212 203 203 / 68%);
}

.about-left img:hover {
    transform: scale(1.1); /* Enhances hover effect */
}


.about-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    font-weight: 500;
}

.skills-list {
    column-count: 2;           /* Number of columns */
    column-gap: 20px;          /* Space between columns */
    list-style-type: none;     /* Removes default list styling */
    padding: 0;                /* Removes default padding */
    margin: 0;                 /* Removes default margin */
    max-width: 400px;          /* Optional: controls the width of the entire list */
}

.skills-list li {
    padding: 5px;              /* Adds some padding inside each list item */
    background-color: #f0f0f0; /* Gives a background color for better visibility */
    border: 1px solid #ccc;    /* Adds a border around each list item */
    break-inside: avoid;       /* Prevents items from breaking across columns */
    margin-bottom: 10px;       /* Space between items within the same column */
}



@keyframes fadeInAndSlideRight {
    from {
        opacity: 0;
        transform: translateY(20px) translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

@media (max-width: 768px) {
    .about {
        gap: 50px;
        margin: 50px 6%;
        align-items: start;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        line-height: 25px;
    }

    .about-skills ul li {
        font-size: 16px;
    }
}
